<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Panel Administrador</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
body{
background:#0f172a;
color:white;
}

.card-admin{
background:white;
border-radius:20px;
padding:20px;
color:black;
}

.img-candidata{
height:260px;
object-fit:cover;
border-radius:10px;
}
</style>

</head>

<body>

<div class="container py-5">

<h2 class="text-center mb-4">Panel Admin</h2>

<div class="text-center mb-4">
<a href="/logout" class="btn btn-danger">Cerrar sesión</a>
  <div class="mt-3">

<a href="/reiniciar_votos"
   class="btn btn-warning"
   onclick="return confirm('¿Seguro que deseas borrar TODOS los votos?')">

🔄 Reiniciar votos

</a>

</div>
</div>

<div class="row g-4">

{% for c in candidatas %}
<div class="col-md-3">

<div class="card-admin">

<form method="POST" action="/editar" enctype="multipart/form-data">

<input type="hidden" name="id" value="{{c.id}}">

{% if c.foto %}
<img src="{{ c.foto }}" class="img-fluid img-candidata mb-3">
{% else %}
<img src="https://via.placeholder.com/300x260?text=Sin+imagen" class="img-fluid img-candidata mb-3">
{% endif %}

<input type="text" name="nombre" value="{{c.nombre}}" class="form-control mb-2">

<input type="file" name="foto" class="form-control mb-2">

{% if c.foto %}
<button type="submit" name="eliminar_foto" value="1" class="btn btn-danger w-100 mb-2">
Eliminar foto
</button>
{% endif %}

<button class="btn btn-success w-100">Guardar</button>

</form>

</div>

</div>
{% endfor %}

</div>
</div>

</body>
</html>
